.tituloActivo {
margin: 0;
    transform: translate(-100%,-180%) scale(0.7);
  transition: all .6s ease-in-out;
text-align: center;
  gap: 1rem;
  }

.tituloActivo h1{
    margin:0rem;
}
.tituloActivo h2{
    
}

.redesActivo{
    transform: translateX(1%);
    gap: 1rem;
    width: 8%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all .6s ease-in-out;
}
.skillActivo{
  display: none;
}